global
    maxconn 1000

defaults
    mode tcp # Bazy danych działają na protokole TCP, nie HTTP
    timeout connect 5s
    timeout client 1h
    timeout server 1h

frontend postgres_front
    bind *:5433
    default_backend postgres_replicas

backend postgres_replicas
    balance roundrobin # Algorytm karuzeli (po równo)
    # Wskazujemy na kontenery w sieci Dockera (nazwy kontenerów z docker-compose)
    server replica1 postgres-replica-1:5432 check
    server replica2 postgres-replica-2:5432 check
    server replica3 libraryDB_replica_3:5432 check
    server replica4 libraryDB_replica_4:5432 check
